@import url('https://fonts.googleapis.com/css?family=Questrial');

body {
  font-family: 'Questrial', sans-serif;
  margin: 0 auto;
  line-height: 1.5;
  }

div {
  display: block;
 }

#nav-container {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  letter-spacing: 1.5px;
  background-color: transparent;
  overflow: hidden;
  box-shadow: 0 2px 16px rgba(0,0,0,0.02);
  transition: opacity 400ms Cubic-bezier(1, 0, 0.43, 1);
  padding-bottom: 17px;

}

#nav-container:hover {
 background-color: #ffffff;
}


#nav-left a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 46px 10px 40px 25px;
  text-decoration: none;
  font-size: 11px;
  letter-spacing: .19em;
}

#top-logo{
  position: absolute;
  top: 22px;
  left: 873px;
}

#nav2 {
  margin-right: 58px;
}

#nav-right a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 48px 15px 40px 10px;
  text-decoration: none;
  font-size: 11px;
  text-transform: uppercase;
}

#nav-right img {
  position: absolute;
  top: 31px;
  right: 20px;
}

#top-gal img {
  margin-top: -90px;
  width: 100%;
  height: 100%;
}
